<div class="header">
  <div class="row">
    <div class="nine columns">
      <h2>Greetings App</h2>
    </div>
    <div class="three columns">
    <form action="/greeted" method="GET">
      <button class="viewBtn" id="viewBtn" type="submit" name="greeted" value="{{greeted}}">View Greeted</button>
    </form>
  </div>
  </div>
  <p>
</div>
    <div class="">
      <form action="/greet" method="POST">
        Name :
        <input type="text" class="userName" name="name" placeholder="enter your name here" value="{{enterInput}}" onkeydown="Check(this);" onkeyup="Check(this);">
        <script>
          function Check(me) {
            me.value = me.value.replace(/[0-9]/g, "");
          }
        </script>
    </div>
  
    <p>
      <div class="RadioBtn">
        <input type="radio" name="language" class="language" value="English">English
        <input type="radio" name="language" class="language" value="Afrikaans">Afrikaans
        <input type="radio" name="language" class="language" value="isiXhosa">isiXhosa

      </div>
      <p>
        <div class="counter" name="count" value="count"><b>Counter:{{count}}</b></div>
        <p>
          <div class="row">
            <div class="three columns">
              <button class="greetMeBtn" id="greetMeBtn" type="submit" name="greet" value="{{greet}}">GREET ME</button>
              
            </div>
            </form>
            <form action='/deleteAll' method='get'>
            <button class="clearBtn" id="clearBtn" type="submit" name="reset">Clear All</button>
            </form>
            <div class="three columns display">
              <div class="flashMsg">{{#if messages.info}}{{messages.info}}{{/if}}</div>
              <div class="greeting" name="greetMsg" value="">{{greetName}}</div>
            </div>
          </div>
          </div>
